<header>
  <nav class="header-nav">
    <a class="header-title" href="<%= locals.booksBaseUrl %>/books/recentlyAdded">HookedOnBooks</a>
    <ul>
      <li><a href="<%= locals.authorBaseUrl %>/authors">Authors</a></li>
      <li><a href="<%= locals.authorBaseUrl %>/authors/new">Add Author</a></li>
      <li><a href="<%= locals.booksBaseUrl %>/books">Books</a></li>
      <li><a href="<%= locals.booksBaseUrl %>/books/new">Add Book</a></li>
      <% if (locals.isAuthenticated) { %>
        <li><a href="<%= locals.authBaseUrl %>/auth/logout">Logout</a></li>
        <% } %>
    </ul>
  </nav>
</header>